@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-block">
    <h3>Курсовой проект на тему "Нормирование потребления энергии"</h3>
    <h3>Выполнила: студентка группы ИТ-31 Василькова Ю.Л.</h3>
</div>